@import "animations.css";
* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

body {
    background-color: #282722;
}

h1 {
    text-align: center;
    color: white;
    display: inline-block;
    padding-bottom: 1em;
}

#wrapper {
    left: 50%;
    margin-left: -320px;
    margin-top: -240px;
    position: absolute;
    top: 50%;
    width: 640px;
    height: 480px;
}

canvas {
    left: 50%;
    margin-left: -320px;
    margin-top: -240px;
    position: absolute;
    top: 50%;
    width: 640px;
    height: 480px;
}

#popup {
    color: white;
    display: inline-block;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    opacity: 0;
    padding: .5em .5em;
    position: absolute;
    text-align: center;
    top: 0;
    background-color: rgba(40, 39, 34, 0.5);
}

#popup.show {
    opacity: 1;
    top: 40%;
}

.username {
    font-weight: bold;
}

.score {
    display: inline;
}

#scoreboard {
    color: white;
    margin-top: -100px;
    padding: 10px;
    position: absolute;
    top: 50%;
}

#scoreboard2 {
    color: white;
    margin-top: -100px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#scoreboard .columns {
    width: 100%;
}

#scoreboard .columns .column-2 > div {
    width: 50%;
}

#scoreboard .columns .column-3 > div {
    width: 33.333333333%;
}

#scoreboard .columns .column-4 > div {
    width: 25%;
}

#scoreboard .columns .column-5 > div {
    width: 20%;
}

#scoreboard2 .columns {
    width: 100%;
}

#scoreboard2 .columns .column-2 > div {
    width: 50%;
}

#scoreboard2 .columns .column-3 > div {
    width: 33.333333333%;
}

#scoreboard2 .columns .column-4 > div {
    width: 25%;
}

#scoreboard2 .columns .column-5 > div {
    width: 20%;
}

.InVisible
{
    visibility: hidden;
}

.Visible
{
    visibility:visible;
}

#Buttons1
{
    background-color: #000025;
    position: fixed;
    top: 0;
    left: 0;
}

#Buttons2
{
    background-color: #000025;
    position: fixed;
    top: 0;
    right: 0;
}

#Buttons3
{
    background-color: #000025;
    position: fixed;
    bottom: 0;
    right: 0;
}

#Buttons4
{
    background-color: #000025;
    position: fixed;
    bottom: 0;
    left: 0;
}

#Sudden
{
    color: #FF0030;
    bottom: 0;
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#menu {
    position: absolute;
    text-align: center;
    width: 300px;
    min-height: 70%;
    width: 40%;
    overflow: auto;
    margin: auto;
    position: absolute;
    display: block;
    top: 10%; left:0; bottom: auto; right: 0;
    background-color: rgba(40, 39, 34, 0.5);
}

.button {
    display: block;
    margin: auto;
    height: 50px;
    width: 114px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    background: url('images/text_holder.png');
}
